@import '../../styles/variables';
@import '../../styles/global.scss';

.section-preview {
	&:not(:first-child) {
		margin-top: 40px;
	}

	&__wrapper {
		margin-top: 24px;
	}

	&__heading-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__diagram {
		flex: 1;
		color: $color-primary;

		.CircularProgressbar-path {
			stroke: currentColor;
		}
	}

	&__info {
		margin-top: 16px;
		background-color: $color-white;
		border-radius: $border-radius;
		padding: 16px;

		display: flex;
		justify-content: flex-start;
		align-items: center;

		&-content {
			@include component-inner;
			margin-left: 20px;
			flex: 2;
		}
	}

	&__button {
		color: $color-primary;
		border: none;
		font-size: 16px;
		background-color: transparent;
		padding: 12px 16px;
		width: 100%;
		cursor: pointer;
	}
}
