.heading-primary {
	font-size: 28px;
	font-weight: 600;
	color: $color-dark;
}

.heading-secondary {
	font-size: 22px;
	font-weight: 600;
	color: $color-dark;
}

.heading-subtitle {
	font-size: 16px;
	font-weight: 400;
	color: $color-secondary;
}

.heading-tertiary {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.3;
	color: $color-dark;
}

.heading-subcategory {
	font-size: 16px;
	font-weight: 400;
}
