// Indents
$padding-top-s: 6px;

$padding-xs: 12px;
$padding-s: 16px;
$padding-m: 20px;
$padding-l: 24px;
$padding-component: 10px 20px;

$margin-xs: 12px;
$margin-s: 16px;
$margin-m: 24px;
$margin-l: 32px;

// colors
$color-primary: #4990f1;
$color-secondary: #96a6bd;

$color-bg-component: #f7f7f9;
$color-bg-icon: #e8e8e9;

$color-dark: #010101;
$color-light: #f4f3f8;

$color-black: #000000;
$color-white: #ffffff;

//
$border-radius: 16px;
$gap-s: 16px;
