@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import './variables';
@import './typography';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

label[for],
input[type='radio'],
input[type='checkbox'],
button,
div[role='button'],
input[type='reset'],
input[type='button'],
input[type='submit'] {
	cursor: pointer;
}
input[type='file']::-webkit-file-upload-button {
	cursor: pointer;
}

// html {
// 	// define 1rem -> 10px
// 	font-size: 62.5%;
// }

body {
	box-sizing: border-box;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

::selection {
	background-color: $color-primary;
	color: $color-light;
}

// pages

.page-inner {
	padding: $padding-s;
}

.home-page,
.add-operation-page {
	height: 100vh;
}

.home-page {
}

.add-operation-page {
	display: flex;
	flex-direction: column;
}

//

.icon-wrapper {
	display: grid;
	place-items: center;
	cursor: pointer;

	border: none;
	outline: none;

	padding: 4px;
	background-color: $color-bg-icon;
	border-radius: 100%;

	svg {
		color: darken($color-secondary, 30);
	}

	&_inner {
		display: grid;
		place-content: center;
		width: 24px;
		height: 24px;
		font-size: 24px;
		color: $color-white;

		&--small {
			display: grid;
			place-content: center;
			background: $color-white;
			width: 18px;
			color: $color-primary;
			border-radius: 50%;
			place-items: center;
			font-size: 18px;
			line-height: 1;
			aspect-ratio: 1;
			padding: 0;
		}
	}

	&--primary {
		background-color: $color-primary;

		svg {
			color: $color-white;
		}
	}
}

// buttons

button {
	cursor: pointer;
}

.buttons-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: $margin-s;
	gap: $gap-s;

	button {
		flex: 1;
	}
}

@mixin component-inner {
	.heading-tertiary {
		font-size: 20px;
	}

	.heading-subtitle {
		line-height: 1.5;
	}
}
