@import '../../styles/variables';

.home-page {
	background-color: $color-light;

	&__header,
	&__footer,
	&__content {
		padding: $padding-s;
	}

	&_subtitle {
		font-weight: 500;
		text-transform: uppercase;
	}

	&__content {
		flex: 1;
		overflow: auto;
	}

	&__footer {
		width: 100%;
		background-color: $color-light;
		color: black;
		border-top: 1px solid $color-secondary;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.page-inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 0;
	}
}

.heading-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flow-info {
	border-radius: $border-radius;
	padding: 16px;
	background-color: $color-white;
}

.flow-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&__item {
		flex: 1;
		margin-right: 5%;
		list-style: none;
	}
}

.diagram {
	display: flex;
	padding: $padding-s $padding-xs 0 $padding-xs;

	progress {
		flex: 1;
	}
}
