// Indents
$padding-top-s: 6px;

$margin-right-m: 8px;
$margin-left-xs: 4px;
$margin-left-l: 12px;
$margin-bottom-xl: 16px;

// colors
$color-primary: #4990f1;
$color-secondary: #838287;
$color-dark: #010101;
$color-light: #f4f3f8;
