@import '../../styles/variables';
@import '../../styles/global.scss';

.add-operation {
	&__header {
		position: relative;
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: $padding-s;

		.heading-tertiary {
			position: absolute;
			left: 50%;

			transform: translateX(-50%);
		}
	}

	&__footer {
		display: grid;
		padding: $padding-s;
		background-color: $color-light;
	}

	&__additional-content {
		display: flex;
		flex-direction: column;
		padding: 0 $padding-s;
		background-color: $color-white;
		border-radius: $border-radius;

		.item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 50px;

			&:not(:last-child) {
				border-bottom: 1px solid $color-light;
			}
		}
	}

	&__amount {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
		height: 44px;

		&-input {
			flex: 1;
			background-color: $color-bg-component;
			border: none;
			outline: none;
			border-radius: $border-radius;
			padding: $padding-component;
			height: 100%;
			font-family: inherit;
			font-weight: 400;

			transition: all 0.2s ease;
		}

		&-button {
			display: grid;
			place-items: center;

			aspect-ratio: 1;
			height: 100%;

			border: none;
			outline: none;
			border-radius: $border-radius;
		}
	}
}

.add-operation__form {
	flex: 1;

	display: flex;
	flex-direction: column;

	&-section {
		padding: $padding-s;

		&--secondary {
			flex: 1;
			background-color: $color-light;

			.heading-subtitle {
				padding: 4px 0;
				margin-left: $margin-xs;
			}
		}
	}

	&-item {
		&:not(:first-child) {
			margin-top: $margin-m;
		}

		.heading-secondary {
			margin-bottom: calc($margin-xs / 2);
		}
	}
}

.fin-balance {
	display: flex;
	align-items: center;
	margin-top: $margin-xs;
	gap: 12px;
}

.category-button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: $color-bg-component;
	border-radius: $border-radius;
	padding: $padding-s $padding-xs;
	gap: $margin-xs;

	svg {
		width: 40px;
		height: 40px;

		color: $color-secondary;
	}

	&__content {
		@include component-inner;
	}
}
